.similar-jobs-cards {
  background-color: #202020;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .similar-jobs-cards {
    background-color: #202020;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
  }
}

.logo {
  height: 60px;
  margin-right: 10px;
}

.text-title {
  color: #ffffff;
  font-size: 15px;
}

.job-para {
  color: #ffffff;
  width: 300px;
}
@media screen and (max-width: 767px) {
  .job-para {
    font-size: 15px;
    width: 250px;
  }
}

.title-cards {
  display: flex;
  align-items: center;
}

.location-ctc-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  color: #ffffff;
}
